@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Raleway:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
}

/* tailwind class */

.container {
  @apply max-w-[1300px] mx-auto px-[30px];
}
.center {
  @apply flex justify-center items-center;
}

/* Text */
.text-link {
  @apply text-[1.6rem] md:text-[1.3rem] lg:text-[1.4rem] text-[#333];
}
.text-small {
  @apply text-[13px] text-[#333] leading-[24px];
}
.text-xsmall {
  @apply text-[1.3rem]  text-[#333] leading-[1.4] text-center  md:text-justify;
}
.text-base {
  @apply text-[16px] sm:text-[1.8rem] md:text-[1.6rem] leading-[143%]   text-[#333];
}
.info-text {
  @apply text-[2.2rem] md:text-[3rem]  text-[#fff];
}
/* Header */
.heading-primary {
  @apply text-[3rem] sm:text-[4rem] md:text-[5rem] xl:text-[6.5rem] font-semibold leading-[1.1] mb-8   text-center;
}
.heading-secondary {
  @apply text-[18px] sm:text-[20px] md:text-[24px] lg:text-[30px] xl:text-[36px] font-[600] text-headingPrimary  text-center;
}
.heading-tertiary {
  @apply text-[#333] font-semibold text-[16px] md:text-[18px] lg:text-[22px];
}
.heading-four {
  @apply text-[#333] font-semibold text-[14px] md:text-[16px] lg:text-[18px] leading-[1.2];
}
.heading-five {
  @apply text-headingPrimary font-semibold text-[1.5rem] lg:text-[1.7rem] leading-[1.2] text-center md:text-start;
}
/* button */
/* .btn {
  @apply bg-primary  rounded-[10px] px-[20px] py-[6px];
} */

/* Essential class */
.backG {
  /* background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)
    ),
    url("/test.jpg"); */
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4)
    ),
    url("https://htmldemo.net/polite/polite/img/slider/4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lora {
  font-family: "Lora", serif;
}

/*  slider */
.slick-list {
  margin-left: 20px !important;
}
.slick-prev:hover,
.slick-next:hover {
  background-color: blue; /* Change this to your desired color */
}

.slick-prev:before,
.slick-next:before {
  color: gray !important;
}

@media (min-width: 720px) {
  /* Timeline */
  .timeline-wraper::before {
    background: #dedede none repeat scroll 0 0;
    content: "";
    height: 95%;
    left: 50%;
    margin-left: -0.5px;
    position: absolute;
    top: 0;
    width: 1px;
  }

  .timeline-img-right::before {
    border-color: transparent #333 transparent transparent;
    border-style: solid;
    border-width: 9px;
    content: "";
    height: 0;
    left: auto;
    right: -18px;
    position: absolute;
    top: 84px;
    border-left: 9px solid #333;
    border-right: 9px solid transparent;
  }

  .timeline-img::before {
    border-color: transparent #333 transparent transparent;
    border-style: solid;
    border-width: 9px;
    content: "";
    height: 0;
    left: -18px;
    position: absolute;
    top: 84px;
  }
}

/* responsive time line card */
@media (max-width: 1255px) {
  .timelinecard {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
    width: 300px;
  }
  .timelinecard img {
    width: 100% !important;
  }
}

/* responsive slider*/
@media (max-width: 1240px) {
  .card {
    max-width: 340px;
  }
}

@media (max-width: 1085px) {
  .card {
    max-width: 300px;
  }
}
@media (max-width: 1025px) {
  .card {
    max-width: 280px;
  }
}
@media (max-width: 955px) {
  .card {
    max-width: 260px;
  }
}

@media (max-width: 900px) {
  .card {
    max-width: 320px;
  }
}

@media (max-width: 740px) {
  .card {
    max-width: 290px;
  }
}
